<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head') %>
  <title>Homepage</title>
</head>
<body>
  <%- include('./partials/nav') %>

  <div class="container mt-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4">
      <% blogs.forEach(blog => { %>
      <div class="col mb-4">
        <div class="card">
          <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="<%= blog.title %>" />
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
            <a href="/blog/<%= blog._id %>" class="btn btn-primary">View</a>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>

  <%- include('./partials/scripts') %>
</body>
</html>
